*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eadbc8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-family: sans-serif;
    min-height: 100vh;

}
#container{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
    
    
}

.screen{
    display: none;
    padding: 2rem;
    text-align: center;

}

.screen.active{
    display: block;

}

/* START SCREEN */

#start-screen h1{
    color: #e86a33;
    margin-bottom: 20px;
    font-size: 2.5rem;


}
#start-screen p{
    color: #333;
    margin-bottom: 1.5rem;
    font-size: 1.1rem
    


}
#quiz-header{
    margin-bottom: 2rem;


}

#question-text{
    color: #666;
    font-size: 1.5 rem;
    margin-bottom: 1rem;
    line-height: 1.4rem;
}

#question-info{
    display: flex;
    justify-content: space-between;
    color: #e86a33;
    display: flex;

    margin-bottom: 10px;
    
}

#answer-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;

}

.answer-selection{

    background-color: #f8f0e5;
    color: #333;
    border: 2px solid #eadbc8;
    border-radius: 10px;
    padding: 1em;
    cursor: pointer;
    text-align: left;
    transition: all 0.3s ease;
    
}

#answer-selection.correct{
    background-color: #fff0f0f0;
    border-color: #ffbdbd;
    color: darkseagreen;

    
}
#answer-selection.incorrect{
    background-color: #fff0f0f0;
    border-color: #ffbdbd;
    color: darkred;
    
}

#answer-selection:hover{
    background-color: #eadbe8;
    border-color: #dac0ae;
    

}

#progress-bar{
    height: 10px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 20px;
}

#progress{
    height: 100%;
    width: 0%;
    background-color: #e86a33;
    transition: all 0.3s ease;
    
}

/* RESULT SCREEN */

#result-screen h1{
    color: #e86a33;
    margin-bottom: 30px;
}

#result-container{
    background-color:#f8f0e5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;

}
#result-container p{
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
}

#result-message{
    font-size: 1.5rem;
    color: #e86a33;
    font-weight: 600;    
}
button{
    background-color:rgb(228, 125, 52); 
    padding: 1rem 1.5rem;
    border: none;
    font-size: 1.3rem;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    transition:background-color 0.3s ease  ;
}

button:hover{
    background-color: #ec9b78;
}

/* RESPONSIVE DESIGN */

@media (max-width:500px) {
    /* when we hit 500px and below ,implemen the styles below  */
    .screen{
        padding: 1rem;


    }
    #start-screen h1  {
        font-size: 2rem;
    }
    #question-text{
        font-size: 1.3rem;
    }
    #answer-selection{
        padding: 12px;

    }
    #button{
        padding: 12px 25px;
        font-size: 1rem;
        
    }
    
}